/data/
data/cifar-10-batches-py/
data/cifar-10-python.tar.gz/
/checkpoint/
/autoattack/
/adv_data/
/output/
/__pycache__/
/dataset/__pycache__/
/dataset/cifar10.slurm
/dataset/imagenet.slurm
/models/__pycache__/
train.slurm
test.slurm
adaptive.slurm
whitebox.slurm
adv.slurm
transfer.slurm
train_at.py
train_at.slurm
ablation.py
ablation.slurm
batch_size.py
bs.slurm